h1 {
    color: yellow;
    background-color: brown;
}
p {
    color: green;
    background-color:black;
}
h3 {
    color: red;
    background-color:black;
}
ul{
    color: blueviolet;
    background-color: black;
}